@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* HEADER */

.main_header {
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     top: 0;
     width: 100%;
     background-color: #1a1919;
}

.header {
     margin: 0;
     padding: 1rem;
     width: 150vh;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }
   
   .logo {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
   }
   
   .legenx_logo {
     width: 10rem;
   }
   
   .choices {
     display: flex;
     align-items: center;
     padding-left: 2rem;
     padding-right: 2rem;
   }
   
   .buttons {
     color: aliceblue;
     text-decoration: none;
     font-weight: 900;
     padding-left: 2rem;
     padding-right: 2rem;
     transition: all ease .2s;
     font-family: urbanist;
   }
   
/* HEADER ANIMATIONS------------------------------------------------------- */
   
   .buttons:hover {
     font-size: 2rem;
     transform: scale(1.2);
         filter: drop-shadow(0 0 10px white);
   }

   

/* BODY------------------------------------------------------- */

.body {
     background-image: linear-gradient(to right top, hsla(0, 0%, 3%, 0.932), #1a1919);
     z-index: -1;
     right: 0;
     top: 0;
}

/* STATIC AND ANIMATED CARD-GALLERY------------------------------------------- */
.main_title {
     color: aliceblue;
     font-family: Urbanist;
     font-weight: 900;
     font-size: 10rem;
     padding: 5rem;
}

/* DESIGN TITLE------------------------------------------------------- */
.title_box {
     color: aliceblue;
     font-family: Urbanist;
     font-weight: 600;
     font-size: 5rem;
     padding-left: 5rem;
     margin: 0;
     padding-top: 2rem;
}



/* CARD------------------------------------------------------- */

/* DESIGN 1-----------------------------*/

.hero {
     display: flex;
     align-items: center;
     justify-content: center;
}

.content1 {
     padding-left: 60rem;
     padding-right: 60rem;
     display: flex;
     align-items: center;
     justify-content: center;
     align-content: center;
}

.breach1 {
     width: 50%;
}

.card1 {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     background-color:rgb(39, 39, 39);
     border-style: solid;
     border-color:rgb(32, 32, 32);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction:column;
     border-radius: 5rem;
}
   
.container1 {
     color: aliceblue;
     font-family: Urbanist;
     font-size: 2rem;
     margin: 0;
     text-align: center;
     padding-left: 10rem;
     padding-right: 10rem;
}

.title1 {
     font-size: 2rem;
     margin: 0;
     color: coral;
}

.subtitle1 {
     font-size: 1rem;
     margin: 0;
     padding-bottom: 5rem;
}


/* DESIGN 2-----------------------------*/

.content2 {
     padding-left: 60rem;
     padding-right: 60rem;
     display: flex;
     align-items: center;
     justify-content: center;
     align-content: center;
}

.card2 {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     background-image: linear-gradient(to right top, hsla(0, 0%, 3%, 0.932), #175a03);
     border-style: solid;
     border-color:rgb(32, 32, 32);
     border-radius: 4rem;
     display: flex;
}

.viper1 {
     width: 30rem;
}

.container2 {
     color: aliceblue;
     font-family: Urbanist;
     font-size: 2rem;
     margin: 0;
     padding-top: 5rem;
     padding-bottom: 5rem;
     padding-right: 5rem;
     width: 30rem;
}

.title2 {
     font-size: 5rem;
     margin: 0;
     color: green;
}

.subtitle2 {
     font-size: 1rem;
     padding-bottom: 5rem;
}


/* DESIGN 3-----------------------------*/

.picture_card {
     background-color:black;
}

.galaxy {
     width: 50rem;
}
.box_text {
     color: aliceblue;
     font-family: Urbanist;
     font-size: 2rem;
     margin: 0;
     text-align: center;
}


/* DESIGN 4-----------------------------*/

.fix {
     padding-left: 1000rem;
     padding-right: 1000rem;
}

.picture_card2 {
     background-color:aliceblue;
     display: flex;
     align-content: center;
     align-items: center;
     flex-direction: column;
     border-style: solid;
     border-color:black;
     border-radius: 3rem;
}

.tree {
     width: 40rem;
     border-radius: 2.5rem 2.5rem 0rem 0rem;
}
.box_text2 {
     font-family: Urbanist;
     font-size: 2rem;
     margin: 0;
     padding: 5rem;
}

.title_tree {
     font-weight: 800;
}

/* DESIGN 5-----------------------------*/

.fix2 {
     padding-left: 40rem;
     padding-right: 40rem;
}

.color_box {
     background-color: rgb(177, 76, 76);
     border-radius: 2rem;
     padding-bottom: 2rem;
}

.star_box {
     padding-left: 10rem;
     padding-right: 10rem;
     padding-top: 2rem;
}

.subtitle5 {
     color: aliceblue;
     font-family: Urbanist;
     font-size: 2rem;
     padding-left: 10rem;
     padding-right: 10rem;
}

.star {
     width: 30px;
     color: aliceblue;
     margin: 0;
     padding: 0;
}

.learn_more {
     padding-left: 10rem;
     padding-right: 10rem;
     color: aliceblue;
     font-family: Urbanist;
     font-size: 2rem;
     text-decoration: none;
}


/* ANIMATION DESIGNS-----------------------------*/

/* DESIGN 1-----------------------------*/

.card1_anim {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     background-color:rgb(39, 39, 39);
     border-style: solid;
     border-color:rgb(32, 32, 32);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction:column;
     border-radius: 5rem;
     transition: 0.3s;
}

.card1_anim:hover {
     border-style: solid;
     border-color:orange;
}

/* DESIGN 2-----------------------------*/

.card2_anim {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     background-image: linear-gradient(to right top, hsla(0, 0%, 3%, 0.932), #175a03);
     border-style: solid;
     border-color:rgb(32, 32, 32);
     border-radius: 4rem;
     display: flex;
     transition: 0.3s;
}

.card2_anim:hover {
     transform: scale(1.2);
}

/* DESIGN 3-----------------------------*/

.picture_card_anim {
     background-color:black;
     transition: 0.3s;
}

.picture_card_anim:hover {
     background-color:white;
     text-shadow: 2px 2px 2px red;
     font-weight: 700;
     transition: 0.3s;
     border-style: solid;
     border-color:black;
     transform: scale(1.1);
}

.box_text_anim {
     color: aliceblue;
     font-family: Urbanist;
     font-size: 2rem;
     margin: 0;
     text-align: center;
     transition: 0.3s;
}

.box_text_anim:hover {
     color: black;
     transform: scale(1.2);
}

/* DESIGN 4-----------------------------*/

.picture_card2_anim {
     background-color:aliceblue;
     display: flex;
     align-content: center;
     align-items: center;
     flex-direction: column;
     border-style: solid;
     border-color:black;
     border-radius: 3rem;
     transition: 0.3s;
}

.picture_card2_anim:hover {
     transform: scale(.8);
     box-shadow: 10px 10px 10px green;
}

.tree_anim {
     width: 40rem;
     border-radius: 2.5rem 2.5rem 0rem 0rem;
     transition: 0.3s;
}

.tree_anim_hover {
     transform: scale(1.5);
}

/* DESIGN 5-----------------------------*/

.star_anim {
     width: 30px;
     color: aliceblue;
     margin: 0;
     padding: 0;
     transition: 0.3s;
}

.star_anim:hover {
     transform: scale(3);
     transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     padding: 1rem;
}

.learn_more_anim {
     padding-left: 10rem;
     padding-right: 10rem;
     color: aliceblue;
     font-family: Urbanist;
     font-size: 2rem;
     text-decoration: none;
     transition: 0.3s;
}

.learn_more_anim:hover {
     transform: scale(1.5);
     font-weight: 900;
     font-style: italic;
     color:black;
     font-size: 5rem;
}

.star_box_anim {
     padding-left: 10rem;
     padding-right: 10rem;
     padding-top: 2rem;
     transition: 0.3s;
}

.star_box_anim:hover {
     transform: scale(1.1);
}

.color_box_anim {
     background-color: rgb(177, 76, 76);
     border-radius: 2rem;
     padding-bottom: 2rem;
     transition: 0.3s;
}

.color_box_anim:hover {
     background-image: linear-gradient(to right top, hsla(0, 38%, 41%, 0.932), #b14848);
}